body {
	margin: 0;
	border: 0;
	padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    /*font-family: 'IBM Plex Serif', serif;*/
}
h1 {
    font-weight: 500;
    font-size: 3em;
}
h2{
    font-weight: 500;
    font-size: 2em;
}
.intro {
	background-image: url("/images/dr_beach_pano_web.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	height: 100vh;
}
.divtext_center {
	margin: auto;
	width: 45em;
}
.divtext_center img {
    max-width: 11em;
    height: auto;
    margin: auto;
    margin-top: -12%;
    margin-left: -1em;
}
#hi_text {
	text-align: center;
}
#intro_list {
	margin: auto;
	width: 16em;
    font-size: 2em;
}
#scroll_text {
	text-align: center;
    font-size: 2em;
}
.about_me {
	height: fit-content;
	background-color: #FAFAFA;
    display: flex;
	/*margin-top: -1.25em;*/
}
.about_center {
	margin: auto;
	width: 45em;
    display: flex;
    height: 100%;
    margin-right: 5em;
}
.last_page {
    background-image: url("/images/Arch_makepkg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    overflow: hidden;
    height: 100vh;
    display: flex;
    color: white;
}
.about_center img {
    width: auto;
    max-height: 85%;
    margin: auto;
    border-radius: 0.5em;
}
.description_area {
    margin: auto;
    margin-right: 3em;
}
.two_buttons {
    margin: auto;
    margin-left: 0;
}
.two_buttons input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 12em;
    height: 3em;
    font-size: xx-large;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    /*float: right;*/
}
.relevant_coursework {
    text-align: center;
    margin: auto;
    display: grid;
    width: 30%
}
.image_gallery {
    margin: auto;
    width: 35%;
    text-align: center;
}
.linux_user {
    margin: auto;
    text-align: center;
    width: 15%;
}
.relevant_coursework ul {
    text-align: left;
}
.relevant_coursework img {
    width: auto;
    max-height: 3.5em;
    margin: auto;
    margin-right: 0.5em;
}
.section_title {
    margin: auto;
    display: flex;
}
.section_title h2{
    margin: auto;
    margin-left: 0.5em;
}
#gallery_view {
    max-width: 70%;
    max-height: 50%;
    width: auto;
    height: auto;
}
#random {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 12em;
    height: 3em;
    font-size: xx-large;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
}
#princeton_line {
    display: grid;
    grid-template-columns: auto auto;
}

/* Styling below is for the dynamically generated comment section */
#comments_title {
    text-align: center;
    height: 6vh;
}
#comments_title h1 {
    margin: 0;
}
.comments_page {
    height: calc(94vh - 1em);
    background-image: url("/images/Arch_Matrix.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
}
.comment_section {
    margin: 0;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
}
#comment_table {
    margin: 0;
    width: 100%;
    color: black;
    background-color: white;
    border-collapse: collapse;
}
#table_container {
    margin: 60px auto;
    width: 90%;
    height: calc(100% - 120px);
    overflow-y: scroll;
}
#comment_table th, #comment_table td {
    border: 1px solid gray;
}
#comment_form {
    display: grid;
    grid-template-rows: 3em 70% 3em;
    grid-row-gap: 1em;
    height: 80%;
    margin:auto;
    width: 80%;
}
#comment_form input {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}
#comment_form input[type="text"] {
    padding-left: 2em;
    border-radius: 4px;
}
#comment_form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#comment_form textarea {
    padding: 2em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    border-radius: 4px;
}
.comment_options {
    
}