body {
	margin: 0;
	border: 0;
	padding: 0;
}
.intro {
	background-image: url("/images/dr_beach_pano_web.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	height: 100vh;
}
.divtext_center {
	margin: auto;
	width: 23em;
}
#hi_text {
	text-align: center;
}
#intro_list {
	margin: auto;
	width: 16em;
}
#scroll_text {
	text-align: center;
}
.about_me {
	height: 40vh;
	background-color: #CCCCCC;
	margin-top: -1.25em;
}
.about_center {
	margin: auto;
	width: 40em;
}
